{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>About</h1>
                <p>Basic project for recrutation.</p>
            </div>
        </div>
    </div>
{% endblock %}