{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Reports:</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">raport id</th>
                            <th scope="col">link to report</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in reports %}
                        <tr>
                            <th scope="row">{{ x.date|date:'Y-m'  }} </th>
                            <td><a href="/reports/{{ x.id }}">/reports/{{ x.id }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="jumbotron col-md-4">
            <p>List of generated reports.</p>
            </div>
        </div>
    </div>
{% endblock %}