{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Results of raport</h1>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">department id</th>
                            <th scope="col">sum price [zł]</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in sums_for_each_depertment %}
                        <tr>
                            <th scope="row">{{ x.department }} </th>
                            <td>{{ x.total|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="jumbotron col-md-4">
            <h3 class="display-4">{{ sum_all|floatformat:2 }} zł</h3>
            <h2 class="lead"> 
                Sum of this month: 
            </h2>
            <a href="{% url 'home' %}">Back</a>
            </div>
        </div>
    </div>
{% endblock %}